@import "../../../variables.scss";
.dish-card {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}
